<%
// load footer options and contacts from content
const footer = _.cms('footer') || {}
const contacts = _.cms('contacts') || {}

const { path } = _.route
%>
<div id="disfoil-widget" style="bottom: 14px; left: 16px; box-sizing: border-box; position: fixed !important; z-index: 9999 !important; direction: ltr; text-align: right;">
  <!-- <div class="disfoil-chat-option d-none">
    <div class="disfoil-label">
      <div class="disfoil-label-text">Atendimento Disfoil</div>
    </div>
    <div size="62" class="disfoil-icon">
      <span size="62" class="disfoil-icon-tag">
        <div class="disfoil-icon-tag-after"></div>
      </span>
    </div>
  </div> -->
  <div style="bottom: 115px;" class="disfoil-chat-message d-none">
    <div class="disfoil-chat-message-block">
       <div color="#FF6550" class="disfoil-chat-message-block-header">
          <div class="disfoil-chat-message-block-header-content">
             <div class="disfoil-chat-message-block-header-service">
                <div class="disfoil-chat-message-block-header-block-img"><img class="disfoil-chat-message-block-header-img"></div>
                <div>
                  <span class="disfoil-chat-message-block-name">Whatsapp Disfoil</span>
                  <p class="disfoil-chat-message-block-name-service">Atendimento</p>
                </div>
             </div>
             <div class="disfoil-chat-message-block-close">
                <svg style="width: 25px; height: 25px; fill: rgb(255, 255, 255); stroke: none;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                   <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                   <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
             </div>
          </div>
       </div>
       <div class="disfoil-chat-message-block-content">
          <div class="disfoil-chat-message-block-content-close">
             <svg style="width: 20px; height: 20px; fill: rgb(224, 223, 223); stroke: none;" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
             </svg>
          </div>
          <p class="disfoil-chat-message-block-content-hour">10:42</p>
          <div class="disfoil-chat-message-block-content-bot">
             <div class="disfoil-chat-message-block-content-bot-img"></div>
             <div height="28" class="disfoil-chat-message-block-content-bot-msg">
                <div class="disfoil-chat-message-block-content-bot-msg-text"><span>Olá, sou do whatsapp da Disfoil. <b>Abaixo selecione uma opção para continuar o atendimento.</b></span>
                </div>
             </div>
          </div>
          <p class="disfoil-chat-message-block-content-bot-chat">Converse com:</p>
          
          <select id="disfoil-chat-whatsapp" onchange="redirectToWhatsApp(this.value)">
              <option value="">Selecione o atendimento...</option>
              <option value="19987203063">Vendas SP / GO / RO / RR / MA / PA</option>
              <option value="19987115565">Vendas RJ / PR / SC</option>
              <option value="19998718880">Vendas RS / BA / DF / ES / MT / AP / PI / PE</option>
              <option value="19974226101">Vendas MG / MS / RN / AL / CE / TO / AP / PB / SE</option>
              <option value="19996919705">SAC</option>
              <option value="19987161354">FINANCEIRO</option>
          </select>
          <br>
          <a id="link_whatsapp" class="d-none" target="_blank" rel="noopener noreferrer">Clique aqui para ser atendido</a>

          <script>
              function redirectToWhatsApp(selectedValue) {
                  if (selectedValue) {
                    var phoneNumber = encodeURIComponent(selectedValue);
                    var whatsappLink = `https://wa.me/${phoneNumber}`;            
                    document.getElementById('link_whatsapp').href = whatsappLink
                    document.getElementById('link_whatsapp').click()
                    document.getElementById('link_whatsapp').classList.remove('d-none')
                  }
              }

              const dateNow = new Date()
              const hour = dateNow.getHours()
              const minute = dateNow.getMinutes()
              const stringDate = `${hour}:${minute}`
              document.getElementsByClassName('disfoil-chat-message-block-content-hour')[0].innerText = stringDate
              document.getElementsByClassName('open-chat-bot')[0].addEventListener('click', (event) => {
                console.log(event)
                document.getElementsByClassName('disfoil-chat-message')[0].classList.toggle('d-none')
              })
              document.getElementsByClassName('chat-bot-open-1')[0].addEventListener('click', (event) => {
                document.getElementsByClassName('disfoil-chat-message')[0].classList.toggle('d-none')
              })
              document.getElementsByClassName('disfoil-chat-message-block-close')[0].addEventListener('click', (event) => {
                document.getElementsByClassName('disfoil-chat-message')[0].classList.add('d-none')
              })
          </script>
       </div>
    </div>
  </div>
</div>

<div id="new-box">
  <div id="new-cinza"></div>
      <div class="container">
        <div class="sobre-title"><img data-src="/img/uploads/sobre.png" class="lozad"></div>
        <div class="sobre-text">
          Em atividade desde 2013, A Disfoil - Comércio e Importação possui matriz na cidade de Porto Ferreira, interior de São Paulo e Filial em Itajaí, Estado de Santa Catarina. Atualmente a Disfoil é uma opção de fornecimento seguro e confiável de itens para construção a seco nos diversos segmentos. Dentre eles se destacam: Linha completa de insumos para confecção de Telas Mosquiteiros comerciais, industriais e residenciais, Isolantes Térmicos e Impermeabilizantes para Telhados, Linha Drywall e Pvc. Com amplo estoque nacionalizado, oferecemos entregas a partir de frota própria ou parceiros, atendendo toda demanda de forma ágil em 100% do território nacional.
         
        </div>
        <div class="video-home">
  <img data-src="/img/uploads/barracao-disfoil-2.webp" class="lozad">
        </div>
      </div>
  </div>
  <div class="redes-sociais-footer">
    <div class="container">
        
        <div class="col-sm-6 col-12">
            <div class="titulo"><img width="123px" height="24px" class="lozad" data-src="/img/uploads/face-footer11.png"></div>
            <a target="_blank" href="https://www.facebook.com/disfoil/">
              <img data-src="/img/uploads/facebook_1_.webp" alt="facebook" width="375px" height="121px" class="lozad" style="max-width: 100%">
            </a>
        </div>
        
               
        <div class="col-sm-6 col-12 b-r">
            <div class="titulo"><img data-src="/img/uploads/insta-footer.png" width="123px" height="24px" class="lozad"></div>
            <a target="_blank" href="https://www.instagram.com/disfoil/">
              <img data-src="/img/uploads/instagram.png" alt="Instagram" width="375px" height="150px" class="lozad">
            </a>
        </div>
        
    </div>
</div>
<footer class="footer py-3 py-lg-4 py-xl-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-auto order-lg-last pl-xl-4">
        <div class="footer__contacts">
          <% if (footer.contacts.title) { %>
            <div class="footer__title">
              <%= footer.contacts.title %>
            </div>
          <% } %>

          <ul class="list-unstyled">
            <% if (footer.contacts.phone_wpp) { %>
              <% if (contacts.whatsapp) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="i-whatsapp"></i>
                  </span>
                  <a
                    href="javascript:;"
                    target="_blank"
                    rel="noopener"
                    class="whatsapp-link"
                    data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
                  >
                    <%= contacts.whatsapp %>
                  </a>
                </li>
              <% } %>
              <% if (contacts.phone) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="i-phone"></i>
                  </span>
                  <a
                    href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
                    target="_blank"
                    rel="noopener"
                  >
                    <%= contacts.phone %>
                  </a>
                </li>
              <% } %>
            <% } %>
            <% if (footer.contacts.email) { %>
              <li>
                <a href="mailto:<%= contacts.email %>" target="_blank" rel="noopener">
                  <%= contacts.email %>
                </a>
              </li>
            <% } %>
            <% if (footer.contacts.address) { %>
              <li>
                <address>
                  <%= contacts.address %>
                </address>
              </li>
            <% } %>
          </ul>

          <% if (footer.contacts.socials) { %>
            <p class="footer__social">
              <%- await include('@/layout/inc/networks', { _, contacts }) %>
            </p>
          <% } %>
        </div>
      </div>

      <% if (footer.links_1.list_pages || footer.links_1.list.find(({ url }) => url)) { %>
        <div class="col-12 col-sm-6 col-lg col-xl-auto px-xl-4">
          <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-pages"
            role="button"
            aria-expanded="false"
            aria-controls="footer-pages"
          >
            <%= footer.links_1.title || _.dictionary('pages') %>
          </a>
          <div class="collapse" id="footer-pages">
            <% if (footer.links_1.list_pages) { %>
              <ul class="footer__links">
                <% (_.cms('pages') || []).forEach(slug => { %>
                  <% const { title } = _.cms(`pages/${slug}`) %>
                  <li>
                    <i class="i-chevron-right"></i>
                    <a href="/pages/<%= slug %>">
                      <%= title %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } else { %>
              <ul class="footer__links">
                <% footer.links_1.list.forEach(({ url, text }) => { %>
                  <li>
                    <i class="i-chevron-right"></i>
                    <a href="<%= url %>">
                      <%= text %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </div>
        </div>
      <% } %>

      <% if (footer.links_2.list_categories || footer.links_2.list.find(({ url }) => url)) { %>
        <div class="col-12 col-sm-6 col-lg col-xl-auto px-xl-4">
          <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-categories"
            role="button"
            aria-expanded="false"
            aria-controls="footer-categories"
          >
            <%= footer.links_2.title || _.dictionary('categories') %>
          </a>
          <div class="collapse" id="footer-categories">
            <% if (footer.links_2.list_categories) { %>
              <ul class="footer__links">
                <% _.categories.forEach(({ name, slug, parent }) => { %>
                  <% if (!parent) { %>
                    <li>
                      <i class="i-chevron-right"></i>
                      <a href="/<%= slug %>">
                        <%= name %>
                      </a>
                    </li>
                  <% } %>
                <% }) %>
              </ul>
            <% } else { %>
              <ul class="footer__links">
                <% footer.links_2.list.forEach(({ url, text }) => { %>
                  <li>
                    <i class="i-chevron-right"></i>
                    <a href="<%= url %>">
                      <%= text %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </div>
        </div>
      <% } %>

      <div class="col-12 col-xl order-lg-first">
        <% if (path === '/' || path === '/index') { %> 
          <h1  class="footer__title footer__store" itemprop="name"><%= footer.description.title || _.settings.name %></h1>
        <% } else { %>
          <h2  class="footer__title footer__store"><%= footer.description.title || _.settings.name %></h2>
        <% } %>
        <p><%- footer.description.text || _.settings.description %></p>

        <div class="mt-4 mb-3">
          <p class="footer__payment-methods">
            <% Object.keys(footer.payment_methods).forEach(method => { %>
              <% if (footer.payment_methods[method]) { %>
                <i class="pay-icon pay-icon--<%= method %>"></i>
              <% } %>
            <% }) %>
          </p>
          <div class="footer__stamps">
            <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__credits">
      <span>
        <%= footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
      </span>
      <button
        id="go-to-top"
        class="btn btn-primary ml-3"
        type="button"
        aria-label="<%= _.dictionary('goToTop') %>"
      >
        <i class="i-chevron-up"></i>
      </button>
    </div>
  </div>
</footer>

<%- await include('@/layout/inc/ecom-credits') %>
