<%
// load footer options and contacts from content
const footer = _.cms('footer') || {}
const contacts = _.cms('contacts') || {}

const { path } = _.route
%>
<div id="new-box">
  <div id="new-cinza"></div>
      <div class="container">
        <div class="sobre-title"><img data-src="/img/uploads/sobre.png" class="lozad"></div>
        <div class="sobre-text">
          Em atividade desde 2013, A Disfoil - Comércio e Importação possui matriz na cidade de Porto Ferreira, interior de São Paulo e Filial em Itajaí, Estado de Santa Catarina. Atualmente a Disfoil é uma opção de fornecimento seguro e confiável de itens para construção a seco nos diversos segmentos. Dentre eles se destacam: Linha completa de insumos para confecção de Telas Mosquiteiros comerciais, industriais e residenciais, Isolantes Térmicos e Impermeabilizantes para Telhados, Linha Drywall e Pvc. Com amplo estoque nacionalizado, oferecemos entregas a partir de frota própria ou parceiros, atendendo toda demanda de forma ágil em 100% do território nacional.
         
        </div>
        <div class="video-home">
  <img data-src="/img/uploads/barracao-disfoil-2.webp" class="lozad">
        </div>
      </div>
  </div>
  <div class="redes-sociais-footer">
    <div class="container">
        
        <div class="col-sm-6 col-12">
            <div class="titulo"><img width="123px" height="24px" class="lozad" data-src="/img/uploads/face-footer11.png"></div>
            <a target="_blank" href="https://www.facebook.com/disfoil/">
              <img data-src="/img/uploads/facebook_1_.webp" alt="facebook" width="375px" height="121px" class="lozad" style="max-width: 100%">
            </a>
        </div>
        
               
        <div class="col-sm-6 col-12 b-r">
            <div class="titulo"><img data-src="/img/uploads/insta-footer.png" width="123px" height="24px" class="lozad"></div>
            <a target="_blank" href="https://www.instagram.com/disfoil/">
              <img data-src="/img/uploads/instagram.png" alt="Instagram" width="375px" height="150px" class="lozad">
            </a>
        </div>
        
    </div>
</div>
<footer class="footer py-3 py-lg-4 py-xl-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-auto order-lg-last pl-xl-4">
        <div class="footer__contacts">
          <% if (footer.contacts.title) { %>
            <div class="footer__title">
              <%= footer.contacts.title %>
            </div>
          <% } %>

          <ul class="list-unstyled">
            <% if (footer.contacts.phone_wpp) { %>
              <% if (contacts.whatsapp) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="i-whatsapp"></i>
                  </span>
                  <a
                    href="javascript:;"
                    target="_blank"
                    rel="noopener"
                    class="whatsapp-link"
                    data-tel="<%= contacts.whatsapp.replace(/\D/g, '') %>"
                  >
                    <%= contacts.whatsapp %>
                  </a>
                </li>
              <% } %>
              <% if (contacts.phone) { %>
                <li>
                  <span class="footer__list-icon">
                    <i class="i-phone"></i>
                  </span>
                  <a
                    href="tel:+<%= contacts.phone.replace(/\D/g, '') %>"
                    target="_blank"
                    rel="noopener"
                  >
                    <%= contacts.phone %>
                  </a>
                </li>
              <% } %>
            <% } %>
            <% if (footer.contacts.email) { %>
              <li>
                <a href="mailto:<%= contacts.email %>" target="_blank" rel="noopener">
                  <%= contacts.email %>
                </a>
              </li>
            <% } %>
            <% if (footer.contacts.address) { %>
              <li>
                <address>
                  <%= contacts.address %>
                </address>
              </li>
            <% } %>
          </ul>

          <% if (footer.contacts.socials) { %>
            <p class="footer__social">
              <%- await include('@/layout/inc/networks', { _, contacts }) %>
            </p>
          <% } %>
        </div>
      </div>

      <% if (footer.links_1.list_pages || footer.links_1.list.find(({ url }) => url)) { %>
        <div class="col-12 col-sm-6 col-lg col-xl-auto px-xl-4">
          <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-pages"
            role="button"
            aria-expanded="false"
            aria-controls="footer-pages"
          >
            <%= footer.links_1.title || _.dictionary('pages') %>
          </a>
          <div class="collapse" id="footer-pages">
            <% if (footer.links_1.list_pages) { %>
              <ul class="footer__links">
                <% (_.cms('pages') || []).forEach(slug => { %>
                  <% const { title } = _.cms(`pages/${slug}`) %>
                  <li>
                    <i class="i-chevron-right"></i>
                    <a href="/pages/<%= slug %>">
                      <%= title %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } else { %>
              <ul class="footer__links">
                <% footer.links_1.list.forEach(({ url, text }) => { %>
                  <li>
                    <i class="i-chevron-right"></i>
                    <a href="<%= url %>">
                      <%= text %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </div>
        </div>
      <% } %>

      <% if (footer.links_2.list_categories || footer.links_2.list.find(({ url }) => url)) { %>
        <div class="col-12 col-sm-6 col-lg col-xl-auto px-xl-4">
          <a
            class="footer__title"
            data-toggle="collapse"
            href="#footer-categories"
            role="button"
            aria-expanded="false"
            aria-controls="footer-categories"
          >
            <%= footer.links_2.title || _.dictionary('categories') %>
          </a>
          <div class="collapse" id="footer-categories">
            <% if (footer.links_2.list_categories) { %>
              <ul class="footer__links">
                <% _.categories.forEach(({ name, slug, parent }) => { %>
                  <% if (!parent) { %>
                    <li>
                      <i class="i-chevron-right"></i>
                      <a href="/<%= slug %>">
                        <%= name %>
                      </a>
                    </li>
                  <% } %>
                <% }) %>
              </ul>
            <% } else { %>
              <ul class="footer__links">
                <% footer.links_2.list.forEach(({ url, text }) => { %>
                  <li>
                    <i class="i-chevron-right"></i>
                    <a href="<%= url %>">
                      <%= text %>
                    </a>
                  </li>
                <% }) %>
              </ul>
            <% } %>
          </div>
        </div>
      <% } %>

      <div class="col-12 col-xl order-lg-first">
        <% if (path === '/' || path === '/index') { %> 
          <h1  class="footer__title footer__store" itemprop="name"><%= footer.description.title || _.settings.name %></h1>
        <% } else { %>
          <h2  class="footer__title footer__store"><%= footer.description.title || _.settings.name %></h2>
        <% } %>
        <p><%- footer.description.text || _.settings.description %></p>

        <div class="mt-4 mb-3">
          <p class="footer__payment-methods">
            <% Object.keys(footer.payment_methods).forEach(method => { %>
              <% if (footer.payment_methods[method]) { %>
                <i class="pay-icon pay-icon--<%= method %>"></i>
              <% } %>
            <% }) %>
          </p>
          <div class="footer__stamps">
            <%- await include(`@/sections/stamps`, { _, opt: { stamps: footer.stamps } }) %>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__credits">
      <span>
        <%= footer.credits || `© ${_.store.name} / ${contacts.address} / ${contacts.doc_number}` %>
      </span>
      <button
        id="go-to-top"
        class="btn btn-primary ml-3"
        type="button"
        aria-label="<%= _.dictionary('goToTop') %>"
      >
        <i class="i-chevron-up"></i>
      </button>
    </div>
  </div>
</footer>

<%- await include('@/layout/inc/ecom-credits') %>
